<footer>
  <div class="contact">
    <a href="mailto:softriderz@gmail.com">
      <i class="far fa-envelope"></i> softriderz@gmail.com</a
    >
  </div>
  <div class="icons">
    <a href="https://www.instagram.com/soft_riders/"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.mixcloud.com/soft_riders/"
      ><i class="fab fa-mixcloud"></i
    ></a>
    <a href="https://open.spotify.com/user/englishwallpaper"
      ><i class="fab fa-spotify"></i
    ></a>
    <a href="https://vimeo.com/softriders"><i class="fab fa-vimeo"></i></a>
  </div>
</footer>
