<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300,700&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"
      integrity="sha384-7Gk1S6elg570RSJJxILsRiq8o0CO99g1zjfOISrqjFUCjxHDn3TmaWoWOqt6eswF"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-header">
      <div class="navbar">
        <ul>
          <li id="brand"><a href="/">Soft Riders</a></li>
          <li id="home"><a href="/">Home</a></li>
          <li id="playlists"><a href="/playlists">Playlists</a></li>
          <li id="archives"><a href="/archives">Past Shows</a></li>
          <li id="promos"><a href="/promos">Promos</a></li>
          <!-- <li id="store"><a href="#">Store</a></li> -->
          <li id="about"><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="bars">
        <i class="fas fa-bars"></i>
      </div>
    </nav>