<div id="audio-player">
  <p>
    Listen LIVE from
    <em
      ><strong><a href="http://www.joltradio.org">Jolt Radio</a></strong></em
    >
    today from <strong>5-6pm EST</strong>!
  </p>
  <audio controls src="http://198.27.80.205:5220/;stream/1" type="audio/mpeg">
    Your browser does not support the
    <code>audio</code> element.
  </audio>
</div>
