<form class="signup" action="/" method="POST">
  <div id="field">
    <div>
      <label for="name">Name</label>
    </div>
    <input type="text" name="firstName" placeholder="First Name">    
    <input type="text" name="lastName" placeholder="Last Name"> 
  </div>
  <div id="field">
    <div>
      <label for="email">Email</label>
    </div>
    <input type="email" name="email" placeholder="example@domain.com">
  </div>
  <div id="field">
    <div>
      <label for="location">Location</label>
    </div>
    <input type="text" name="location" placeholder="city, state">
  </div> 
  <div id="submit">
    <input type="submit" value="Submit">
  </div>
</form>