<% include ./partials/header %>
  <div class="title">
    <h2>About</h2>
  </div>
  <div class="container">
    <div class="about-container">
      <div class="miki-img">
        <img src="media/images/miki.jpg" alt="Here's not Miki!">
      </div>
      <div class="text">
        <p>Launched in 2017 by musician and artist <strong>Miki Lee</strong>, <em><span>Soft Riders</span></em> is a tightly-curated radio show that celebrates the rapturous locus where curiosity, anxiety and romance intersect. Drawing from a deep engagement with both popular culture and the underground, Lee binds the complexity of our current times with technicolor dreams of the past. From walking into bars, getting into cars, and visiting friends homes, Lee's sonic landscapes weave a seamless therapeutic gauze, inviting listeners to tune in, sit back, and let the wonder unfold.</p>    
      </div>
    </div>
  </div>

    <% include ./partials/footer %>   
  </div> 
  <script type="text/javascript">
    const title = 'About';
    const style = '<link rel="stylesheet" href="stylesheets/about.css" type="text/css" />';
    $('head').append(style);
    $('title').append(title);
    $(document).ready(() => {
    //MOBILE MENU TOGGLE
      $("nav .bars").on("click", () => {
        $("footer, .container, .title").toggleClass(
          "blur-background"
        );
        $(".navbar ul").slideToggle();
      });
    });
  </script>
</body>
</html>