<% include ./partials/header %>
  <div class="title"><h2>PLAYLISTS</h2></div>
  <div class='container'>
    
    <div class='spotify-grid'></div>
    <div class='spotify-content'>
      <div>
        <p>Select a playlist</p>
      </div>
    </div>

  </div>
  <% include ./partials/footer %>
  
  <script type="text/javascript">
    let x = '<%= token %>';
    const title = 'Playlists';
    const style = '<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />';
    $('head').append(style);
    $('title').append(title);
  </script>
  <script type="text/javascript" src="scripts/soft_playlists.js"></script>
</body>
</html>